<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Boghammar @ Heroku</title>
<!-- boghammar meta name="google-site-verification" content="9JgtyiIvge1J1bwbH8CVSF30RvcVLuzttNnAF-JWRpQ" / -->
<meta name="google-site-verification" content="AqZjPzmkMbxuv9h65riH8oQGEREeWG1x2o48nHVFjgw" />

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="/js/vue.js"></script>
<script src="<%= extrascript %>"></script>
<style>
    body    { }
</style>