<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Boghammar @ Heroku</title>
<meta name="google-site-verification" content="9JgtyiIvge1J1bwbH8CVSF30RvcVLuzttNnAF-JWRpQ" /><!-- Boghammar -->
<meta name="google-site-verification" content="AqZjPzmkMbxuv9h65riH8oQGEREeWG1x2o48nHVFjgw" /><!-- Norrtorp -->

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- Development version -->
<script src="<%= extrascript %>"></script>
<style>
    body    { }
</style>