<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main id="adresslista" style='width: 90%;margin-left:20px;'>
        <div>
            <h2>Adresser</h2>
            <table class="table table-striped">
                <tr><th>Namn</th><th>E-post</th><th>Fastighet</th><th></th></tr>
                <tr v-for="(person, index) in adresser">
                    <td>{{person.name}}</td>
                    <td>{{person.mail}}</td>
                    <td>{{person.fastighet}}</td>
                    <td>
                        <button type='button' class='btn btn-default' v-on:click="editAdress(index)">
                            <span class='glyphicon glyphicon-pencil'></span>
                        </button>
                        <button type='button' class='btn btn-default' v-on:click="removeAdress(index)">
                                <span class='glyphicon glyphicon-remove'></span>
                        </button>
                        <span v-if='person.validated'>
                            <span class='btn btn-default'>
                            <span class='glyphicon glyphicon-ok'></span></span>
                        </span>
                        <span v-else>
                            <button type='button' class='btn btn-default' v-on:click="sendValidation(index)">
                                <span class='glyphicon glyphicon-refresh'></span>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>

