<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div>
            <h2>Login</h2>
            <form method="post">
                <div>Password:<input type="password" name="password" /></div>
                <div><input type="submit" /></div>
            </form>
            <p>Looking for Norrtorp please visit <a href='http://norrtorp.com'>http://norrtorp.com</a>
            </p>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>

