<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../../partials/header %>
    </header>

    <main>
        <div>
            <h2>Unauthorised</h2>
            <p>You are not authorised to view this page. 
                Please go to <a href="/norrtorp">Norrtorp</a> to continue.
            </p>
        </div>
    </main>

    <footer>
        <% include ../../partials/footer %>
    </footer>

</body>
</html>

